header {
    background-color: black;
    height: 142px;
}
.hWrap {
    width: 980px;
    margin: 0 auto;
}
.top {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.top h1 {
    margin-top: 35px;
}
.top .util {
    display: flex;
    position: absolute;
    top: 24px;
    right: 0;
    color: white;
}
.top .util li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #c5c5c5;
}
.top .util li::after {
    content: '|';
    margin: 0 7.5px;
}
.util li:last-child::after {
    content: none;
}
.top .sub {
    display: flex;
    color: white;
    margin-top: 60px;
}
.top form {
    margin-top: 60px;
}
.bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    margin-top: 10px;
}
.bottom .gnb {
    display: flex;
    width: 100%;
    margin-top: 10px;
}
.bottom .gnb li {
    color: white;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
}
.bottom .gnb li:not(.yellow):hover {
    background-color: white;
    color: black;
}
.bottom .gnb li:not(.yellow) {
    padding: 0 20px;
}
.bottom .gnb .best {
    background-color: white;
    color: black;
}
.bottom .gnb .yellow {
    color: yellow;
    margin-left: auto;
}