header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ddd;
    z-index: 999;
}
.hWrap {
    display: flex;
    width: 980px;
    height: 96px;
    justify-content: space-between;
    position: relative;
    padding-top: 35px;
    margin: 0 auto;
    box-sizing: border-box;
}
.gnb {
    display: flex;
    padding-top: 10px;
    box-sizing: border-box;
    font-weight: bold;
    color: #555;
}
.gnb li {
    margin-left: 50px;
}
.gnb li a:hover {
    color: #3badb5;
}
.util {
    display: flex;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 13px;
    color: #aaa;
    font-weight: 900;
}
.util li:first-child {
    margin-right: 14px;
    background: url('../images/ico_language.png') no-repeat left center / 9px;
    padding-left: 15px;
}
.util li:last-child {
    color: #3badb5;
}
.util li:after {
    content: '|';
    margin: 0 7px;
}
.util li:first-child::after,
.util li:last-child::after {
    content: none;
}
.banner {
    position: relative;
    width: 100%;
    margin-top: 96px;
}
.banner a {
    display: block;
    height: 565px;
    background: url('../images/main_visual_01.jpg') no-repeat center center / cover;
}
.banner ul {
    display: flex;
    position: absolute;
    bottom: 30px;
    width: 100%;
    justify-content: center;
}
.banner ul li {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #555;
    margin: 0 4px;
}
.row1 {
    display: flex;
    justify-content: space-between;
    width: 980px;
    margin: 64px auto 0;
}
.row2 {
    width: 980px;
    margin: 0 auto;
}
.row2 h3 {
    margin: 20px 0 40px;
}
.row2 .con {
    display: flex;
    justify-content: space-between;
}
.row2 .con div {
    margin-bottom: 22px;
    position: relative;
}

.row2 .con div a img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
}
.row2 .con a:hover img:last-child {
    opacity: 1;
}
footer {
    background-color: #32404d;
}
.fWrap {
    display: flex;
    align-items: center;
    width: 980px;
    height: 120px;
    margin: 0 auto;
    position: relative;
}
.fWrap h1 {
    margin-right: 40px;
}
.fWrap p {
    font-size: 13px;
    color: #bbb;
    margin: 6px auto;
}
.fWrap p span::before {
    content: '|';
    margin: 0 7px;
    color: #bbb;
}
.fWrap .info {
    color: #35dde9;
    font-weight: bold;
}
.fWrap select {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: transparent;
    color: #bbb;
    border: 1px solid #bbb;
    padding: 3px;
}
.fWrap select option {
    background-color: #32404d;
    padding: 3px;
}